{
    "$schema": "https://json.schemastore.org/swcrc",
    "sourceMaps": true,
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "decorators": true,
        "dynamicImport": true
      },
      "baseUrl": "./",
      "paths": {
        "@Entites/*": [
          "src/entities/*"
        ],
        "@Constants/*": [
          "src/constants/*"
        ],
        "@Decorators/*": [
          "src/decorator/*"
        ],
        "@Configs/*": [
          "src/configs/*"
        ],
        "@Serialize/*": [
          "src/serialize/*"
        ],
        "@Utils/*": [
          "src/utils/*"
        ]
      }
    },
    "minify": false
  }
  