{
    "$schema": "https://json.schemastore.org/swcrc",
    "sourceMaps": true,
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "decorators": true,
        "dynamicImport": true
      },
      
      "baseUrl": ".",
      "paths": {
        "@Entites/index.ts": [
          "src/entities/index.ts"
        ],
        "@Constants/index.ts": [
          "src/constants/index.ts"
        ],
        "@Decorators/index.ts": [
          "src/decorators/index.ts"
        ],
        "@Configs/index.ts": [
          "src/configs/index.ts"
        ],
        "@Serialize/index.ts": [
          "src/serialize/index.ts"
        ],
        "@Utils/index.ts": [
          "src/utils/index.ts"
        ]
      }
    },
    "minify": false
  }
  